@layer components {
  /* Form field wrapper */
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .form-field:not(:last-child) {
    margin-bottom: 1rem;
  }

  /* Form field help text */
  .form-field-help {
    font-size: 0.875rem;
    color: var(--bl-clr-gray-600);
  }

  /* Form field error text */
  .form-field-error {
    font-size: 0.875rem;
    color: var(--bl-clr-red-600);
  }

  /* Error state for form control */
  .form-field-error-state .field {
    border-color: var(--bl-clr-red-500);
    --bl-focus-color: var(--bl-clr-red-500);
  }

  /* Success state for form control */
  .form-field-success-state .field {
    border-color: var(--bl-clr-green-500);
    --bl-focus-color: var(--bl-clr-green-500);
  }
}

.dark {
  .form-field-help {
    color: var(--bl-clr-gray-400);
  }

  .form-field-error {
    color: var(--bl-clr-red-400);
  }

  .form-field-error-state .field {
    border-color: var(--bl-clr-red-600);
  }

  .form-field-error-state .field:focus-visible {
    outline-color: var(--bl-clr-red-600);
  }

  .form-field-success-state .field {
    border-color: var(--bl-clr-green-600);
  }

  .form-field-success-state .field:focus-visible {
    outline-color: var(--bl-clr-green-600);
  }
}
