@layer components {
  /* Form field wrapper */
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .field > .label {
    align-self: flex-start;
  }

  /* Checkbox wrapper */
  .field:has(> .input-check) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;

    .label {
      margin-bottom: 0;
    }
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  /* Form field help text */
  .field-help {
    font-size: var(--bl-fs-base);
    color: var(--bl-clr-gray-500);
  }

  /* Form field danger text */
  .field-danger {
    font-size: var(--bl-fs-base);
    color: var(--bl-clr-red-600);
  }

  /* danger state for form control */
  .field-danger-state .input {
    border-color: var(--bl-clr-red-500);
    --bl-focus-color: var(--bl-clr-red-500);
  }

  /* Success state for form control */
  .field-success-state .input {
    border-color: var(--bl-clr-green-500);
    --bl-focus-color: var(--bl-clr-green-500);
  }

  .label {
    font-size: var(--bl-fs-base);
    font-weight: var(--bl-fw-bold);
    user-select: none;
    display: inline-block;
  }

  .dark {
    .field-help {
      color: var(--bl-clr-gray-500);
    }

    .field-danger {
      color: var(--bl-clr-red-400);
    }

    .field-danger-state .input {
      border-color: var(--bl-clr-red-600);
    }

    .field-danger-state .field:focus-visible {
      outline-color: var(--bl-clr-red-600);
    }

    .field-success-state .input {
      border-color: var(--bl-clr-green-600);
    }

    .field-success-state .field:focus-visible {
      outline-color: var(--bl-clr-green-600);
    }
  }
}
