bl-select {
  position: relative;
  display: block;

  &.open {
    .bl-select-search-input {
      border-bottom: none;
    }
    .bl-select-menu-wrapper {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  &:hover {
    .bl-select-search-input,
    .bl-select-menu-wrapper {
      border-color: var(--bl-border-color-hover);
    }
  }

  select {
    display: none;
  }

  .bl-select-text {
    display: flex;
    align-items: center;
    user-select: none;
    padding: var(--bl-padding);
  }

  .bl-select-text.filtered {
    visibility: hidden;
  }

  .bl-select-search-input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    appearance: none;
    outline: none;
    padding: var(--bl-padding);
    z-index: 5;
    border: 1px solid var(--bl-border-color);
    font: inherit;
  }

  .bl-select-search-input:focus ~ .bl-select-text {
    opacity: 0.6;
  }

  .bl-select-menu-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background-color: #fff;
    z-index: 10;
    max-height: 15em;
    overflow-block: scroll;
    overflow-inline: hidden;
    backface-visibility: hidden;
  }

  .bl-select-menu-item {
    padding: var(--bl-padding);
    cursor: pointer;

    &.filtered {
      display: none;
    }
    &.focus {
      background-color: var(--bl-bg-color-active);
    }
    &.selected {
      background-color: var(--bl-bg-color-selected);
    }
  }
}

bl-select.bl-theme-classic {
  --bl-border-color: #aaa;
  --bl-border-color-hover: #777;
  --bl-bg-color-active: #eee;
  --bl-bg-color-selected: #ddd;
  --bl-padding: 0.5em;

  .bl-select-menu-wrapper {
    border-inline: 1px solid var(--bl-border-color);
    border-bottom: 1px solid var(--bl-border-color);
  }
}
