.bl-select {
  display: flex;
  border-radius: var(--bl-border-radius);
  border: 1px solid var(--bl-clr-gray-400);

  --bl-select-padding: 0.5rem;

  .bl-select-menu-wrapper {
    border: 1px solid var(--bl-clr-gray-300);
    border-radius: var(--bl-border-radius);
    box-shadow: var(--bl-shadow-lg);
    transform: translateY(calc(100% + 0.5rem));
    background-color: #fff;

    .bl-select-menu-item {
      &.focus {
        background-color: var(--bl-clr-gray-200);
      }

      &.selected {
        background-color: var(--bl-clr-gray-300);
      }

      &.selected.focus {
        /* gray-400 is too dark so we mix */
        background-color: color-mix(
          in srgb,
          var(--bl-clr-gray-300) 60%,
          var(--bl-clr-gray-400)
        );
      }
    }
  }

  .bl-select-placeholder {
    color: var(--bl-clr-gray-600);
  }

  .multiple .bl-select-text {
    gap: 0.25rem;
  }

  .multiple .bl-select-selected-item {
    background-color: var(--bl-clr-gray-200);
    padding: 0.1875em 0.3125em;
    border-radius: var(--bl-border-radius);
    gap: 0.25em;
    .bl-close-button {
      --bl-close-btn-size: 20px;
      --bl-close-btn-padding: 0.125rem;
    }
  }

  &[disabled] {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

@media (prefers-color-scheme: dark) {
  .bl-select {
    border-color: var(--bl-clr-gray-600);

    .bl-select-menu-wrapper {
      border-color: var(--bl-clr-gray-700);
      background-color: var(--bl-clr-gray-800);

      .bl-select-menu-item {
        &.focus {
          background-color: var(--bl-clr-gray-700);
        }

        &.selected {
          background-color: var(--bl-clr-gray-600);
        }

        &.selected.focus {
          background-color: var(--bl-clr-gray-500);
        }
      }
    }

    .bl-select-placeholder {
      color: var(--bl-clr-gray-400);
    }

    .multiple .bl-select-selected-item {
      background-color: var(--bl-clr-gray-700);
    }

    &[disabled] {
      background-color: rgba(255, 255, 255, 0.06);
    }
  }
}
