.bl-select {
  --bl-sel-padding-x: 1em;
  --bl-sel-padding-y: 0.5em;
  --bl-sel-bg: #fff;
  --bl-sel-bg-disabled: rgba(0, 0, 0, 0.06);
  --bl-sel-border: 1px solid var(--bl-clr-gray-300);
  --bl-sel-br: var(--bl-border-radius);
  --bl-sel-shadow: var(--bl-shadow-lg);
  --bl-sel-clr-focus: var(--bl-clr-gray-100);
  --bl-sel-clr-selected: var(--bl-clr-gray-100);
  --bl-sel-clr-selected-focus: var(--bl-clr-gray-200);
  --bl-sel-clr-placeholder: var(--bl-clr-gray-500);
  --bl-sel-clr-icons: var(--bl-clr-gray-400);

  --bl-sel-tag-icon-clr: var(--bl-clr-gray-500);
  --bl-sel-tag-bg: var(--bl-clr-gray-100);

  .bl-select-menu {
    transform: translateY(calc(100% + 0.375em));
  }

  &[searchable] .bl-select-options {
    border-top: var(--bl-sel-border);
  }
}

.dark,
[data-theme="dark"] {
  .bl-select {
    --bl-sel-bg: var(--bl-clr-gray-800);
    --bl-sel-bg-disabled: rgba(255, 255, 255, 0.06);
    --bl-sel-border: 1px solid var(--bl-clr-gray-700);
    --bl-sel-clr-focus: var(--bl-clr-gray-700);
    --bl-sel-clr-selected: var(--bl-clr-gray-700);
    --bl-sel-clr-selected-focus: var(--bl-clr-gray-600);
    --bl-sel-clr-icons: var(--bl-clr-gray-400);
    --bl-sel-clr-placeholder: var(--bl-clr-gray-400);

    --bl-sel-tag-icon-clr: var(--bl-clr-gray-400);
    --bl-sel-tag-bg: var(--bl-clr-gray-700);

    &[multiple] .bl-select-selected-item {
      background-color: var(--bl-clr-gray-700);
    }
  }
}
