.bl-select {
  display: flex;
  position: relative;

  border: var(--bl-select-border);
  border-radius: var(--bl-border-radius);

  &.open {
    .bl-select-menu {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  select {
    display: none;
  }

  .bl-select-text {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    padding: var(--bl-select-padding);
  }

  .bl-select-text-wrapper {
    display: flex;
    align-items: center;
  }

  .bl-select-placeholder {
    color: var(--bl-select-clr-placeholder);
  }

  .bl-select-selected-item {
    display: flex;
    align-items: center;
  }

  .bl-select-search {
    height: 100%;
    width: 100%;
    background-color: transparent;
    appearance: none;
    outline: none;
    border: none;
    font: inherit;
    cursor: default;
    padding: var(--bl-select-padding);
  }

  &[multiple] {
    .bl-select-value-container.has-value {
      display: flex;
    }
  }

  .bl-select-menu {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: var(--bl-select-zindex, 10);
    backface-visibility: hidden;
    user-select: none;
    border: var(--bl-select-border);
    border-radius: var(--bl-border-radius);
    box-shadow: var(--bl-shadow-lg);
    background-color: var(--bl-select-bg);

    .bl-option {
      padding: var(--bl-select-padding);
      cursor: pointer;

      &.filtered {
        display: none;
      }

      &.no-result {
        cursor: default;
      }

      &.focus {
        background-color: var(--bl-select-clr-focus);
      }

      &.selected {
        background-color: var(--bl-select-clr-selected);
      }

      &.selected.focus {
        background-color: color-mix(
          in srgb,
          var(--bl-select-clr-selected),
          #000 5%
        );
      }
    }
  }

  .bl-select-options {
    max-height: var(--bl-select-max-height, 300px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .bl-select-indicators {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: var(--bl-select-padding);
    color: var(--bl-select-clr-indicators);

    & > * {
      display: flex;
      align-items: center;
    }
  }

  .bl-select-clear-button:not(.show) {
    display: none;
  }

  &[disabled] {
    background-color: var(--bl-select-bg-disabled);
  }
}
