.bl-select {
  position: relative;
  display: flex;

  &.open {
    .bl-select-search-input {
      border-bottom: none;
    }

    .bl-select-menu-wrapper {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }
  }

  select {
    display: none;
  }

  .bl-select-value-container {
    flex: 1 1 0;
    display: grid;
  }

  .bl-select-value-container.multiple.has-value {
    display: flex;
  }

  .bl-select-text {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    padding: var(--bl-padding);
  }

  .bl-select-selected-item {
    display: flex;
    align-items: center;
  }

  .bl-select-selected-item-close {
    cursor: pointer;
    padding: 0 0.125em;
  }

  :not(.multiple) .bl-select-text.filtered {
    visibility: hidden;
  }

  .multiple:not(.has-value) .bl-select-text.filtered {
    visibility: hidden;
  }

  .bl-select-placeholder {
    color: #555;
  }

  .bl-select-search-input {
    grid-area: 1 / 1 / 1 / 1;
    height: 100%;
    background-color: transparent;
    appearance: none;
    outline: none;
    padding: var(--bl-padding);
    border: 1px solid var(--bl-border-color);
    font: inherit;
    cursor: default;
  }

  .multiple .bl-select-search-input {
    width: 100%;
    min-width: 60px;
    flex: 1;
  }

  .bl-select-search-input:focus ~ .bl-select-text {
    opacity: 0.6;
  }

  .bl-select-menu-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background-color: #fff;
    z-index: 10;
    max-height: 15em;
    overflow-block: scroll;
    overflow-inline: hidden;
    backface-visibility: hidden;
    user-select: none;
  }

  .bl-select-menu-item {
    padding: var(--bl-padding);
    cursor: pointer;

    &.filtered {
      display: none;
    }

    &.focus {
      background-color: var(--bl-bg-color-active);
    }

    &.selected {
      background-color: var(--bl-bg-color-selected);
    }

    &.no-result {
      cursor: default;
    }
  }

  .bl-select-indicators {
    display: flex;
    padding-right: 0.2rem;

    & > * {
      display: flex;
      align-items: center;
      padding: 0.3rem;
    }

    svg {
      aspect-ratio: 1;
      width: 20px;
    }
  }

  .bl-select-clear-button {
    display: none;
    cursor: pointer;
    color: #555;

    &.show {
      display: flex;
    }
  }
}
