.bl-select {
  position: relative;
  display: flex;
  border: 1px solid var(--bl-form-border-color);
  border-radius: var(--bl-border-radius-md);
  height: var(--bl-form-input-height);
  user-select: none;
  cursor: pointer;
  font-size: 0.875rem;
  outline-style: solid;
  outline-color: transparent;
  outline-width: 2px;
  outline-offset: -1px;
  transition: outline-color var(--bl-transition-xs);
}

.bl-select:focus-within {
  outline-style: solid;
  outline-color: var(--bl-form-primary-color);
  outline-width: 2px;
  outline-offset: -1px;
  border-color: transparent;
}

.bl-select-inner {
  display: flex;
  width: 100%;
  padding: 0 var(--bl-form-input-padding);
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.bl-select-arrow {
  height: calc(var(--bl-form-input-height) / 2);
  width: calc(var(--bl-form-input-height) / 2);
  display: flex;
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bl-select-menu {
  position: absolute;
  width: 100%;
  top: calc(100% + 0.25rem);
  left: 0;
  z-index: 50;
  background: #fff;
  display: none;
  border: 1px solid var(--bl-form-border-color);
  border-radius: var(--bl-border-radius-md);
  box-shadow: var(--bl-shadow);
  overflow: hidden;
}

.bl-select-search {
  outline: none;
  height: var(--bl-form-input-height);
  padding: 0 var(--bl-form-input-padding);
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--bl-form-border-color);
}

.bl-select.open .bl-select-menu {
  display: block;
}

.bl-select-option.bl-select-hidden {
  display: none;
}

.bl-select-options {
  max-height: 16rem;
  overflow-y: auto;
  outline: none;
}

.bl-select-option {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  user-select: none;
}

.bl-select-option.bl-select-highlighted {
  background-color: var(--bl-clr-gray-100);
}

.bl-select-option.bl-select-selected {
  background-color: var(--bl-clr-gray-200);
}
