---
import "../styles/global.css";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
  <head>
    <Head />
    <title>Bloum - Modern UI Component Library</title>
  </head>
  <body
    class="bg-white text-slate-900 antialiased selection:bg-indigo-100 selection:text-indigo-700 relative overflow-x-hidden"
  >
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    >
    </div>

    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
