---
import "../styles/global.css";
import "../../../src/bloum.css";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

interface Props {
  title?: string;
}

const { title = "Components" } = Astro.props;
---

<html lang="en">
  <head>
    <Head />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Bloum - {title}</title>
  </head>
  <body
    class="antialiased selection:bg-indigo-100 selection:text-indigo-700 relative overflow-x-hidden"
  >
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    >
    </div>

    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      import { init } from "../../../src";
      init();
    </script>
  </body>
</html>
