---
import "../styles/global.css";
import "../../../dist/bloum.min.css";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
  <head>
    <Head />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Bloum - Components</title>
  </head>
  <body class="bg-white text-slate-900 antialiased">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      import { init } from "../../../dist/esm/bloum";
      init();
    </script>
  </body>
</html>
