*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.demo {
}

bl-select .title {
  font-weight: bold;
  font-size: 1.2em;
}

bl-select .description {
  font-size: 0.875em;
  color: #444;
}
