@layer components {
  .bl-combobox {
    --bl-combobox-menu-bg: var(--bl-clr-surface);
    --bl-combobox-item-bg: var(--bl-clr-gray-200);
    --bl-combobox-item-active-bg: var(--bl-clr-gray-300);
    --bl-combobox-option-highlighted-bg: var(--bl-clr-gray-100);
    --bl-combobox-option-selected-bg: var(--bl-clr-gray-200);

    position: relative;
    display: flex;
    border: 1px solid var(--bl-input-border-color);
    border-radius: var(--bl-border-radius-md);
    min-height: var(--bl-input-height);
    user-select: none;
    cursor: pointer;
    font-size: var(--bl-fs-base);
    background-color: var(--bl-input-bg);
    transition-property: border-color, box-shadow;
    transition-duration: var(--bl-transition-sm);
  }

  .bl-combobox:focus-within {
    border-color: var(--bl-focus-color);
    box-shadow: 0 0 0 var(--bl-focus-width)
      color-mix(
        in srgb,
        var(--bl-focus-color) var(--bl-focus-fade),
        transparent
      );
    outline: none;
  }

  .bl-combobox-inner {
    display: flex;
    width: 100%;
    padding: 0 var(--bl-input-padding);
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .bl-combobox[data-multiple] .bl-combobox-inner {
    padding: 0.25rem var(--bl-input-padding);
  }

  .bl-combobox-arrow {
    height: calc(var(--bl-input-height) / 2);
    width: calc(var(--bl-input-height) / 2);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-image: url("../../icons/chevron.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bl-combobox-items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .bl-combobox-placeholder {
    color: var(--bl-clr-gray-400);
  }

  .bl-combobox-item {
    background-color: var(--bl-combobox-item-bg);
    border-radius: var(--bl-border-radius);
    display: inline-flex;
    padding-inline: 0.5rem;
  }

  .bl-combobox-item-active {
    background-color: var(--bl-combobox-item-active-bg);
  }

  .bl-combobox-item-remove {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.25rem;
  }

  .bl-combobox-menu {
    position: absolute;
    width: max-content;
    min-width: 100%;
    z-index: 50;
    background: var(--bl-combobox-menu-bg);
    display: none;
    border: 1px solid var(--bl-input-border-color);
    border-radius: var(--bl-input-border-radius);
    box-shadow: var(--bl-shadow-sm);
    overflow: hidden;
  }

  .bl-combobox-search {
    outline: none;
    height: var(--bl-input-height);
    padding: 0 var(--bl-input-padding);
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--bl-input-border-color);
    background-color: var(--bl-clr-surface);
  }

  .bl-combobox.open .bl-combobox-menu {
    display: block;
  }

  .bl-combobox-option.bl-combobox-hidden {
    display: none;
  }

  .bl-combobox-options {
    max-height: 16rem;
    overflow-y: auto;
    outline: none;
  }

  .bl-combobox-option {
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    user-select: none;
  }

  .bl-combobox-empty {
    font-style: italic;
  }

  .bl-combobox-option.bl-combobox-highlighted {
    background-color: var(--bl-combobox-option-highlighted-bg);
  }

  .bl-combobox-option.bl-combobox-selected {
    background-color: var(--bl-combobox-option-selected-bg);
  }

  .dark .bl-combobox {
    --bl-combobox-item-bg: var(--bl-clr-gray-800);
    --bl-combobox-item-active-bg: var(--bl-clr-gray-700);
    --bl-combobox-option-highlighted-bg: var(--bl-clr-gray-600);
    --bl-combobox-option-selected-bg: var(--bl-clr-gray-700);
  }
}
