@layer components {
  .btn {
    --bl-btn-color: var(--bl-clr-gray-800);
    --bl-btn-bg: var(--bl-clr-gray-200);
    --bl-btn-hover-bg: hsl(from var(--bl-btn-bg) h s calc(l - 4));
    --bl-btn-active-bg: hsl(from var(--bl-btn-hover-bg) h s calc(l - 6));
    --bl-btn-border-radius: var(--bl-border-radius);
    --bl-btn-border: solid 1px transparent;
    --bl-btn-height: 2.25rem;
    --bl-btn-outline-color: var(--bl-clr-primary-600);
    --bl-btn-fs: var(--bl-fs-base);
    --bl-btn-spinner-size: calc(1 / 2.25 * var(--bl-btn-height));
    --bl-btn-fw: var(--bl-fw-bold);

    appearance: none;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    background-color: var(--bl-btn-bg);
    color: var(--bl-btn-color);
    font-weight: var(--bl-btn-fw);
    padding-inline: calc(var(--bl-btn-height) * 0.4);
    height: var(--bl-btn-height);
    font-size: var(--bl-btn-fs);
    border-radius: var(--bl-btn-border-radius);
    cursor: pointer;
    transition-property: color, background-color, border-color;
    transition-duration: var(--bl-transition-md);
    transition-timing-function: ease-in-out;
    border: var(--bl-btn-border);
    position: relative;
    user-select: none;
    line-height: 1.25rem;
    gap: 0.5rem;

    &:hover {
      background-color: var(--bl-btn-hover-bg);
    }

    &:active {
      background-color: var(--bl-btn-active-bg);
    }
  }

  .btn-icon {
    --bl-btn-fs: 1.125rem;
    min-width: var(--bl-btn-height);
    padding: 0;
  }

  .btn-xs {
    --bl-btn-height: 1.5rem;
    --bl-btn-fs: 0.75rem;
  }

  .btn-icon.btn-xs {
    --bl-btn-fs: 0.875rem;
  }

  .btn-sm {
    --bl-btn-height: 1.875rem;
    --bl-btn-fs: 0.875rem;
  }

  .btn-icon.btn-sm {
    --bl-btn-fs: 1rem;
  }

  .btn-lg {
    --bl-btn-height: 3rem;
    --bl-btn-fs: 1rem;
  }

  .btn-icon.btn-lg {
    --bl-btn-fs: 1.25rem;
  }

  /* Colors */

  .btn-primary {
    --bl-btn-bg: var(--bl-clr-primary-600);
    --bl-btn-color: var(--bl-clr-white);
  }

  .btn-danger {
    --bl-btn-bg: var(--bl-clr-danger-700);
    --bl-btn-color: var(--bl-clr-white);
  }

  .btn-warning {
    --bl-btn-bg: var(--bl-clr-warning-600);
    --bl-btn-color: var(--bl-clr-white);
  }

  .btn-success {
    --bl-btn-bg: var(--bl-clr-success-700);
    --bl-btn-color: var(--bl-clr-white);
  }

  .btn-info {
    --bl-btn-bg: var(--bl-clr-info-600);
    --bl-btn-color: var(--bl-clr-white);
  }

  /* Variants */

  .btn-ghost {
    --bl-btn-bg: transparent;
    --bl-btn-color: var(--bl-clr-gray-800);
    --bl-btn-hover-bg: var(--bl-clr-gray-200);

    &.btn-primary {
      --bl-btn-hover-bg: var(--bl-clr-primary-600);
    }

    &.btn-danger {
      --bl-btn-hover-bg: var(--bl-clr-danger-700);
    }

    &.btn-warning {
      --bl-btn-hover-bg: var(--bl-clr-warning-600);
    }

    &.btn-success {
      --bl-btn-hover-bg: var(--bl-clr-success-700);
    }

    &.btn-info {
      --bl-btn-hover-bg: var(--bl-clr-info-600);
    }

    &.btn-primary:hover,
    &.btn-danger:hover,
    &.btn-warning:hover,
    &.btn-success:hover,
    &.btn-info:hover {
      --bl-btn-color: var(--bl-clr-white);
    }
  }

  .btn-outline {
    --bl-btn-bg: transparent;
    --bl-btn-hover-bg: var(--bl-clr-gray-200);
    --bl-btn-color: var(--bl-clr-gray-800);
    --bl-btn-border: 1px solid var(--bl-clr-gray-300);

    &.btn-primary {
      --bl-btn-color: var(--bl-clr-primary-600);
      --bl-btn-border: 1px solid var(--bl-clr-primary-600);
      --bl-btn-hover-bg: var(--bl-clr-primary-100);
    }

    &.btn-danger {
      --bl-btn-color: var(--bl-clr-danger-700);
      --bl-btn-border: 1px solid var(--bl-clr-danger-700);
      --bl-btn-hover-bg: var(--bl-clr-danger-100);
    }

    &.btn-warning {
      --bl-btn-color: var(--bl-clr-warning-700);
      --bl-btn-border: 1px solid var(--bl-clr-warning-700);
      --bl-btn-hover-bg: var(--bl-clr-warning-100);
    }

    &.btn-success {
      --bl-btn-color: var(--bl-clr-success-700);
      --bl-btn-border: 1px solid var(--bl-clr-success-700);
      --bl-btn-hover-bg: var(--bl-clr-success-100);
    }

    &.btn-info {
      --bl-btn-color: var(--bl-clr-info-700);
      --bl-btn-border: 1px solid var(--bl-clr-info-700);
      --bl-btn-hover-bg: var(--bl-clr-info-100);
    }
  }

  .btn[disabled] {
    opacity: var(--bl-disabled-opacity);
    cursor: not-allowed;

    &:hover {
      background-color: var(--bl-btn-bg);
    }
  }

  .btn:focus-visible {
    outline: solid 2px var(--bl-btn-outline-color);
    outline-offset: 2px;
  }

  .btn.btn-loading,
  .btn.htmx-request {
    opacity: var(--bl-disabled-opacity);
    cursor: not-allowed;

    &:hover {
      background-color: var(--bl-btn-bg);
    }

    &::before {
      content: "";
      display: inline-block;
      width: var(--bl-btn-spinner-size);
      height: var(--bl-btn-spinner-size);
      border: calc(var(--bl-btn-spinner-size) * 0.16) solid
        rgba(255, 255, 255, 0.25);
      border-top-color: currentColor;
      border-radius: 50%;
      margin-left: calc(var(--bl-btn-spinner-size) * -0.2);
      animation: spin var(--bl-spinner-speed) linear infinite;
    }
  }

  .btn.btn-icon.btn-loading,
  .btn.btn-icon.htmx-request {
    &::before,
    &::after {
      margin-left: 0;
    }

    & > * {
      display: none !important;
    }
  }

  .btn-group {
    display: flex;
    align-items: center;
  }

  .btn-group > .btn:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-group > .btn:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }

  .btn-menu-toggle {
    --bl-btn-fs: 0.875rem;
  }

  /* Dark theme */
  .dark {
    .btn {
      --bl-btn-color: var(--bl-clr-white);
      --bl-btn-bg: var(--bl-clr-gray-700);
      --bl-btn-outline-color: var(--bl-clr-primary-500);
    }

    .btn-primary {
      --bl-btn-bg: var(--bl-clr-primary-700);
    }

    .btn-danger {
      --bl-btn-bg: var(--bl-clr-danger-700);
    }

    .btn-warning {
      --bl-btn-bg: var(--bl-clr-warning-700);
    }

    .btn-success {
      --bl-btn-bg: var(--bl-clr-success-700);
    }

    .btn-info {
      --bl-btn-bg: var(--bl-clr-info-700);
    }

    .btn-ghost {
      --bl-btn-bg: transparent;
      --bl-btn-hover-bg: var(--bl-clr-gray-700);

      &.btn-primary {
        --bl-btn-hover-bg: var(--bl-clr-primary-700);
      }

      &.btn-danger {
        --bl-btn-hover-bg: var(--bl-clr-red-700);
      }

      &.btn-warning {
        --bl-btn-hover-bg: var(--bl-clr-warning-700);
      }

      &.btn-success {
        --bl-btn-hover-bg: var(--bl-clr-success-700);
      }

      &.btn-info {
        --bl-btn-hover-bg: var(--bl-clr-info-700);
      }
    }

    .btn-outline {
      --bl-btn-bg: transparent;
      --bl-btn-hover-bg: var(--bl-clr-gray-700);
      --bl-btn-color: var(--bl-clr-text);
      --bl-btn-border: 1px solid var(--bl-clr-gray-700);

      &.btn-primary {
        --bl-btn-color: var(--bl-clr-primary-400);
        --bl-btn-border: 1px solid var(--bl-clr-primary-500);
        --bl-btn-hover-bg: var(--bl-clr-primary-950);
      }

      &.btn-danger {
        --bl-btn-color: var(--bl-clr-danger-500);
        --bl-btn-border: 1px solid var(--bl-clr-danger-500);
        --bl-btn-hover-bg: var(--bl-clr-danger-950);
      }

      &.btn-warning {
        --bl-btn-color: var(--bl-clr-warning-500);
        --bl-btn-border: 1px solid var(--bl-clr-warning-500);
        --bl-btn-hover-bg: var(--bl-clr-warning-950);
      }

      &.btn-success {
        --bl-btn-color: var(--bl-clr-success-500);
        --bl-btn-border: 1px solid var(--bl-clr-success-500);
        --bl-btn-hover-bg: var(--bl-clr-success-950);
      }

      &.btn-info {
        --bl-btn-color: var(--bl-clr-info-500);
        --bl-btn-border: 1px solid var(--bl-clr-info-500);
        --bl-btn-hover-bg: var(--bl-clr-info-950);
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition-duration: 0s;
    }
  }
}
