@layer components {
  /* Checkbox card */
  .checkbox-card {
    --bl-checkbox-card-checked-border: var(--bl-clr-primary-600);

    position: relative;
    user-select: none;
    cursor: pointer;
    transition-property: transform, border-color;
    transition-duration: var(--bl-transition-md);
    display: block;

    &:has(.input-check:active:not(:disabled)),
    &:has(.input-check:active:not(:disabled)) {
      transform: scale(0.96);
    }

    .card-image {
      --bl-card-image-max-height: 100px;
      transition: filter var(--bl-transition-md);
      filter: grayscale(1);
    }
  }

  .checkbox-card > .input-check,
  .checkbox-card > .input-check {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    background-color: var(--bl-clr-background);
  }

  .checkbox-card:has(.input-check:checked),
  .checkbox-card:has(.input-check:checked) {
    --bl-card-border: 1px solid var(--bl-checkbox-card-checked-border);

    .card-image {
      filter: grayscale(0);
    }
  }

  .checkbox-card:has(.input-check:focus-visible),
  .checkbox-card:has(.input-check:focus-visible) {
    outline: 2px solid var(--bl-checkbox-checked-bg);
    outline-offset: 2px;
  }

  .checkbox-card:has(.input-check:disabled),
  .checkbox-card:has(.input-check:disabled) {
    opacity: var(--bl-disabled-opacity);
    cursor: not-allowed;
  }

  .checkbox-card > .input-check:focus-visible,
  .checkbox-card > .input-check:focus-visible {
    outline: none;
  }
}
