@layer components {
  .dropdown {
    position: relative;
  }

  .menu {
    --bl-menu-bg: var(--bl-clr-surface);
    --bl-menu-item-hover-bg: var(--bl-clr-gray-100);
    --bl-menu-item-color: var(--bl-clr-gray-600);
    --bl-menu-divider-color: var(--bl-border-color);
    --bl-menu-item-padding: 1rem;
    --bl-menu-zindex: 20;

    a {
      text-decoration: none;
    }

    border: var(--bl-border-color) 1px solid;
    border-radius: var(--bl-border-radius);
    background-color: var(--bl-menu-bg);
    width: 14rem;
    font-size: var(--bl-fs-base);
    line-height: 1.25rem;
    position: absolute;
    z-index: var(--bl-menu-zindex);
    display: none;
    overflow: hidden;
    padding-block: 0.25rem;
  }

  .menu.show {
    display: inline-flex;
    flex-direction: column;
  }

  .menu-item {
    color: var(--bl-menu-item-color);
    padding-inline: var(--bl-menu-item-padding);
    padding-block: calc(var(--bl-menu-item-padding) * 0.5);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    user-select: none;

    & > i {
      flex-shrink: 0;
    }
  }

  .menu-item:hover {
    background-color: var(--bl-menu-item-hover-bg);
  }

  .menu-item-danger {
    --bl-menu-item-color: var(--bl-clr-red-600);
    --bl-menu-item-hover-bg: var(--bl-clr-red-50);
  }

  .menu-divider {
    border-top: var(--bl-menu-divider-color) 1px solid;
    margin-block: 0.25rem;
  }

  .dark .menu {
    --bl-menu-item-hover-bg: var(--bl-clr-gray-700);
    --bl-menu-item-color: var(--bl-clr-gray-200);

    .menu-item-danger {
      --bl-menu-item-color: var(--bl-clr-red-400);
      --bl-menu-item-hover-bg: var(--bl-clr-red-950);
    }
  }
}
