.dropdown {
  position: relative;
}

.menu {
  --bl-menu-bg: var(--bl-clr-surface);
  --bl-menu-item-color: var(--bl-clr-gray-700);
  --bl-menu-item-hover-bg: var(--bl-clr-gray-100);
  --bl-menu-divider-color: var(--bl-clr-gray-200);

  border: var(--bl-border-color) 1px solid;
  border-radius: var(--bl-border-radius);
  padding: 0.25rem;
  background-color: var(--bl-menu-bg);
  min-width: 8rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: absolute;
  display: none;
}

.show {
  display: inline-block;
}

.menu-item {
  color: var(--bl-menu-item-color);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  display: block;
  width: 100%;
  text-align: left;
  border-radius: var(--bl-border-radius);
  cursor: pointer;
  user-select: none;
}

.menu-item:hover {
  background-color: var(--bl-menu-item-hover-bg);
}

.menu-divider {
  border-top: var(--bl-menu-divider-color) 1px solid;
  margin-block: 0.25rem;
}

.dark .menu,
[data-theme="dark"] .menu {
  --bl-menu-item-color: var(--bl-clr-gray-200);
  --bl-menu-item-hover-bg: var(--bl-clr-gray-700);
  --bl-menu-divider-color: var(--bl-clr-gray-700);
}
