@layer components {
  .dropdown {
    position: relative;
  }

  .menu {
    --bl-menu-bg: var(--bl-clr-surface);
    --bl-menu-item-hover-bg: var(--bl-clr-gray-100);
    --bl-menu-item-color: var(--bl-clr-text);
    --bl-menu-divider-color: var(--bl-border-color);
    --bl-menu-item-padding: 0.5rem;
    --bl-menu-shortcut-color: var(--bl-clr-gray-500);
    --bl-menu-transition: var(--bl-transition-md);

    a {
      text-decoration: none;
    }

    font-size: var(--bl-fs-base);
    line-height: 1.25rem;
    transform: translateY(-0.5rem) scale(0.95);
    display: none;
  }

  .menu,
  .submenu {
    border: var(--bl-border-color) 1px solid;
    border-radius: var(--bl-border-radius);
    background-color: var(--bl-menu-bg);
    width: 12rem;
    position: absolute;
    z-index: var(--bl-z-dropdown);
    box-shadow: var(--bl-shadow);
    opacity: 0;
    visibility: hidden;

    transition-behavior: allow-discrete;
    transition-property: opacity, transform, display, visibility;
    transition-duration: var(--bl-menu-transition);
    transition-timing-function: ease;
  }

  .submenu {
    left: 0;
    top: 0;
    transform: translateX(-0.5rem) scale(0.95);
  }

  .menu.show,
  .menu.show .menu-item:hover > .submenu {
    display: block;
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }

  .menu.show {
    @starting-style {
      opacity: 0;
      transform: translateY(-0.5rem) scale(0.95);
    }
  }

  .menu.show .menu-item:hover > .submenu {
    @starting-style {
      opacity: 0;
      transform: translateX(-0.5rem) scale(0.95);
    }
  }

  .menu-group {
    padding: 0.25rem;
  }

  .menu-label {
    padding-inline: var(--bl-menu-item-padding);
    padding-block: calc(var(--bl-menu-item-padding) * 0.5);
    font-weight: var(--bl-fw-medium);
    color: var(--bl-clr-gray-500);
    font-size: var(--bl-fs-sm);
  }

  .menu-item {
    color: var(--bl-menu-item-color);
    padding-inline: var(--bl-menu-item-padding);
    padding-block: calc(var(--bl-menu-item-padding) * 0.5);
    border-radius: var(--bl-border-radius);
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;

    &.disabled,
    &[disabled] {
      opacity: var(--bl-disabled-opacity);
      pointer-events: none;
    }
  }

  .menu-item:hover {
    background-color: var(--bl-menu-item-hover-bg);
  }

  .menu-item-danger {
    --bl-menu-item-color: var(--bl-clr-red-600);
    --bl-menu-item-hover-bg: var(--bl-clr-red-50);
  }

  .menu-shortcut {
    font-size: var(--bl-fs-sm);
    color: var(--bl-menu-shortcut-color);
    margin-left: auto;
  }

  .menu-divider {
    border-top: var(--bl-menu-divider-color) 1px solid;
  }

  .dark .menu {
    --bl-menu-item-hover-bg: var(--bl-clr-gray-700);
    --bl-menu-shortcut-color: var(--bl-clr-gray-400);

    .menu-item-danger {
      --bl-menu-item-color: var(--bl-clr-red-400);
      --bl-menu-item-hover-bg: var(--bl-clr-red-950);
    }
  }
}
