@layer components {
  bl-tabs {
    --bl-tab-padding: 1rem;
    --bl-tab-color: var(--bl-clr-gray-700);
    --bl-tab-active-color: var(--bl-clr-primary-600);
    display: block;
  }

  bl-tab-list {
    display: flex;
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;

    /* &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: var(--bl-border-color);
      z-index: 1;
    } */
  }

  bl-tab-list::-webkit-scrollbar {
    display: none;
  }

  bl-tab {
    cursor: pointer;
    padding: calc(var(--bl-tab-padding) / 1.5) var(--bl-tab-padding);
    transition: color var(--bl-transition-md) ease-in-out;
    user-select: none;
    position: relative;
    color: var(--bl-tab-color);
    font-weight: var(--bl-fw-bold);
    font-size: var(--bl-fs-base);
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: var(--bl-border-color);
      z-index: 2;
    }

    &.active {
      color: var(--bl-tab-active-color);
    }

    &.active::after {
      background-color: var(--bl-tab-active-color);
      height: 2px;
    }

    &:hover {
      color: var(--bl-tab-active-color);
    }

    &:focus-visible {
      outline: 2px solid var(--bl-clr-primary-600);
      outline-offset: -2px;
      border-radius: var(--bl-border-radius);
    }
  }

  bl-tab-panel {
    display: none;
    padding-top: var(--bl-tab-padding);

    &:focus-visible {
      outline: 2px solid var(--bl-clr-primary-600);
      outline-offset: -2px;
      border-radius: var(--bl-border-radius);
    }
  }

  bl-tab-panel.show {
    display: block;
  }

  .dark bl-tabs {
    --bl-tab-color: var(--bl-clr-gray-300);
    --bl-tab-active-color: var(--bl-clr-primary-500);
  }
}
