.bl-modal {
  opacity: 0;
  background-color: rgba(0, 0, 0, var(--bl-modal-background-opacity, 0.4));
  transition: opacity 150ms linear;

  --bl-modal-margin-y: 4rem;
  --bl-modal-width: 800px;
  --bl-modal-padding: 2rem;
  --bl-modal-border-radius: 8px;

  .bl-modal-wrapper {
    transition: transform 300ms ease-out;
    transform: translateY(-1rem);
    display: grid;
    gap: 1rem;
    background-color: #fff;
  }

  .bl-modal-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &.open {
    opacity: 1;

    .bl-modal-wrapper {
      transform: translateY(0);
    }
  }

  .bl-close-button {
    --bl-close-btn-size: 30px;
  }
}

.bl-modal.blur {
  backdrop-filter: blur(var(--bl-modal-blur, 4px));
}

@media (prefers-color-scheme: dark) {
  .bl-modal {
    .bl-modal-wrapper {
      background-color: var(--bl-clr-gray-800);
    }
  }
}
