.bl-modal {
  --bl-modal-backdrop-opacity: 0.4;
  --bl-modal-margin-y: 4rem;
  --bl-modal-padding: 1.5rem;
  --bl-modal-background: #fff;
  --bl-modal-animation-duration: 200ms;
  --bl-modal-title-fs: 1.125rem;
  --bl-modal-title-fw: 600;
  --bl-modal-body-fs: 1rem;
  --bl-modal-spacing: 1rem;
  --bl-modal-close-size: 24px;
  --bl-modal-blur: 4px;
  --bl-modal-br: var(--bl-border-radius-lg);

  &.open {
    animation: modal-backdrop var(--bl-modal-animation-duration) ease-out
      forwards;
    .bl-modal-wrapper {
      animation:
        modal var(--bl-modal-animation-duration) ease-out forwards,
        modal-backdrop var(--bl-modal-animation-duration) ease-out forwards;
    }
  }

  &[closing] {
    animation: modal-backdrop-close var(--bl-modal-animation-duration) ease-out
      forwards;
    .bl-modal-wrapper {
      animation:
        modal-close var(--bl-modal-animation-duration) ease-out forwards,
        modal-backdrop-close var(--bl-modal-animation-duration) ease-out
          forwards;
    }
  }

  &.blur {
    backdrop-filter: blur(var(--bl-modal-blur));
  }
}

.dark,
[data-theme="dark"] {
  .bl-modal {
    --bl-modal-background: var(--bl-clr-gray-800);
  }
}

@keyframes modal {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes modal-close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.5rem);
  }
}

@keyframes modal-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-backdrop-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
