.bl-modal {
  position: fixed;
  z-index: var(--bl-modal-zindex, 1000);
  inset: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;

  .bl-modal-wrapper {
    margin-block: var(--bl-modal-margin-y, 4rem);
    max-width: min(var(--bl-modal-width, 800px), 100% - 2rem);
    background-color: #fff;
    padding: var(--bl-modal-padding, 1rem);
    border-radius: var(--bl-modal-border-radius);
  }

  .bl-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
