.bl-modal {
  display: none;
  position: fixed;
  z-index: var(--bl-modal-zindex, 1000);
  inset: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, var(--bl-modal-backdrop-opacity));

  .bl-modal-wrapper {
    margin-block: var(--bl-modal-margin-y);
    max-width: var(--bl-modal-max-width);
    padding: var(--bl-modal-padding);
    border-radius: var(--bl-border-radius-lg);
    background-color: var(--bl-modal-background, #fff);
  }

  .bl-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &.open {
    display: flex;
  }
}
