.bl-modal {
  --bl-modal-zindex: 1000;
  --bl-modal-size: 500px;
  --bl-modal-max-width: min(100% - 2rem, var(--bl-modal-size));

  display: none;
  position: fixed;
  z-index: var(--bl-modal-zindex);
  inset: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, var(--bl-modal-backdrop-opacity));

  .bl-modal-wrapper {
    margin-block: var(--bl-modal-margin-y);
    max-width: var(--bl-modal-max-width);
    padding: var(--bl-modal-padding);
    border-radius: var(--bl-modal-br);
    background-color: var(--bl-modal-background, #fff);
  }

  .bl-modal-title {
    font-size: var(--bl-modal-title-fs);
    font-weight: var(--bl-modal-title-fw);
  }

  .bl-close-button {
    --bl-close-size: var(--bl-modal-close-size);
    color: var(--bl-clr-gray-500);
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .bl-modal-body {
    margin-top: var(--bl-modal-spacing);
    font-size: var(--bl-modal-body-fs);
  }

  &.open {
    display: flex;
  }

  &[size="sm"] {
    --bl-modal-size: 300px;
  }

  &[size="lg"] {
    --bl-modal-size: 800px;
  }

  &[size="xl"] {
    --bl-modal-size: 1140px;
  }
}
