.bl-tabs {
  --bl-tab-padding: 1rem;
}

.bl-tab {
  padding: var(--bl-tab-padding);
  text-align: center;
  transition: color 150ms ease-in-out;
  user-select: none;

  &.active {
    position: relative;
    color: var(--bl-clr-primary);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - var(--bl-tab-padding) * 2);
      transform: translateX(var(--bl-tab-padding));
      height: 4px;
      border-radius: 9999px;
      background-color: var(--bl-clr-primary);
    }
  }

  &:hover {
    color: var(--bl-clr-primary);
  }

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 4px var(--bl-clr-primary);
  }
}

.bl-tab-panel {
  padding: var(--bl-tab-padding);
}
