.bl-tabs {
  --bl-tab-padding: 1rem;
}

.bl-tab {
  padding: var(--bl-tab-padding);
  text-align: center;
  transition: color 150ms ease-in-out;

  &:active {
    color: var(--bl-color-primary);
  }

  &.active {
    color: var(--bl-color-primary);
    background-color: #fff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - var(--bl-tab-padding) * 2);
      transform: translateX(var(--bl-tab-padding));
      height: 0.25rem;
      border-radius: 9999px;
      background-color: var(--bl-color-primary);
    }
  }

  &:focus-visible {
    outline: 1px dashed black;
  }
}

.bl-tab-panel {
  padding: 1rem;
}
