.bl-tabs {
  display: block;
}

.bl-tab-list {
  display: flex;

  .bl-tab {
    cursor: pointer;
  }
}

.bl-tab-panels {
  display: block;
}

.bl-tab-panel {
  display: none;
}

.bl-tab-panel.show {
  display: block;
}
