@layer components {
  .card {
    --bl-card-bg: var(--bl-clr-surface);
    --bl-card-border-radius: var(--bl-border-radius-lg);
    --bl-card-border: 1px solid var(--bl-border-color);
    --bl-card-padding: 1rem;
    --bl-card-title-fs: var(--bl-fs-lg);
    --bl-card-title-fw: var(--bl-fw-bold);
    --bl-card-title-color: var(--bl-clr-text);
    --bl-card-image-max-height: 150px;
    --bl-card-footer-bg: var(--bl-clr-gray-100);
    --bl-card-description-color: var(--bl-clr-gray-500);

    background-color: var(--bl-card-bg);
    border-radius: var(--bl-card-border-radius);
    border: var(--bl-card-border);
    overflow-wrap: break-word;
  }

  .card-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: var(--bl-card-image-max-height);
    border-top-left-radius: var(--bl-card-border-radius);
    border-top-right-radius: var(--bl-card-border-radius);
  }

  .card-header {
    padding-top: var(--bl-card-padding);
    padding-inline: var(--bl-card-padding);
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    border-top-left-radius: var(--bl-card-border-radius);
    border-top-right-radius: var(--bl-card-border-radius);
  }

  .card-header:last-child {
    padding-bottom: var(--bl-card-padding);
  }

  .card-title {
    color: var(--bl-card-title-color);
    font-weight: var(--bl-card-title-fw);
    font-size: var(--bl-card-title-fs);
    margin-bottom: 1rem;
  }

  .card-header .card-title {
    margin-bottom: 0;
  }

  .card-actions {
    display: flex;
    gap: 0.25rem;
    grid-row-start: 1;
    grid-column-start: 2;
    align-self: flex-start;
    justify-self: flex-end;
  }

  .card-description {
    color: var(--bl-card-description-color);
  }

  .card-body {
    padding: var(--bl-card-padding);
  }

  .card-footer {
    padding: var(--bl-card-padding);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bl-card-footer-bg);
    border-bottom-left-radius: var(--bl-card-border-radius);
    border-bottom-right-radius: var(--bl-card-border-radius);
  }

  .card-header + .card-footer {
    margin-top: var(--bl-card-padding);
  }

  .card > .table,
  .card > .table-responsive {
    margin-top: calc(var(--bl-card-padding) / 2);
  }

  .card .table > tbody:not(:has(+ tfoot)) > tr:last-child > td,
  .card .table > tbody:not(:has(+ tfoot)) > tr:last-child > th {
    border-bottom-width: 0;
  }

  .card .table > tfoot > tr:last-child > td,
  .card .table > tfoot > tr:last-child > th {
    border-bottom-width: 0;
  }

  .dark .card,
  [data-theme="dark"] .card {
    --bl-card-description-color: var(--bl-clr-gray-400);
  }
}
