@layer components {
  .card {
    --bl-card-bg: var(--bl-clr-surface);
    --bl-card-border-radius: var(--bl-border-radius-lg);
    --bl-card-border: 1px solid var(--bl-border-color);
    --bl-card-header-padding: 0.75rem;
    --bl-card-body-padding: 0.75rem;
    --bl-card-title-fw: 500;
    --bl-card-title-color: var(--bl-clr-gray-800);
    --bl-card-image-max-height: 150px;

    background-color: var(--bl-card-bg);
    border-radius: var(--bl-card-border-radius);
    border: var(--bl-card-border);
    display: block;
    overflow: hidden;
  }

  .card-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: var(--bl-card-image-max-height);
  }

  .card-header {
    padding-block: calc(var(--bl-card-header-padding) * 0.75);
    padding-inline: var(--bl-card-header-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-title {
    color: var(--bl-card-title-color);
    font-weight: var(--bl-card-title-fw);
  }

  .card-actions {
    display: flex;
    gap: 0.25rem;

    .btn {
      --bl-btn-height: 2rem;
      --bl-btn-fs: 1rem;
    }
  }

  .card-body {
    padding: var(--bl-card-body-padding);

    .card-title {
      margin-bottom: 0.5rem;
    }
  }

  .card-footer {
    background-color: var(--bl-clr-background);
  }

  .card .table > tbody:not(:has(+ tfoot)) > tr:last-child > td,
  .card .table > tbody:not(:has(+ tfoot)) > tr:last-child > th {
    border-bottom-width: 0;
  }

  .card .table > tfoot > tr:last-child > td,
  .card .table > tfoot > tr:last-child > th {
    border-bottom-width: 0;
  }

  .dark .card,
  [data-theme="dark"] .card {
    --bl-card-title-color: var(--bl-clr-gray-100);
  }
}
