.bl-accordion {
  --bl-collapse-padding: 0.625rem;

  .bl-accordion-header > button {
    appearance: none;
    background: none;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    padding: 0.625rem;
    cursor: pointer;
    display: block;
    transition: all 150ms ease-in-out;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      z-index: 2;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px var(--bl-clr-primary);
      z-index: 3;
    }
  }
}

.dark,
[data-theme="dark"] {
  .bl-accordion {
    .bl-accordion-item {
      border-top-color: var(--bl-clr-gray-700);
    }
    .bl-accordion-item:last-of-type {
      border-bottom-color: var(--bl-clr-gray-700);
    }

    .bl-accordion-header > button:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}
