@layer components {
  .cmd {
    --bl-cmd-item-bg-hover: var(--bl-clr-gray-100);
    --bl-cmd-item-color: var(--bl-clr-gray-800);
    --bl-cmd-search-icon-color: var(--bl-clr-gray-600);
    --bl-cmd-item-description-color: var(--bl-clr-gray-500);

    overflow: hidden;
  }

  .cmd-search {
    position: relative;
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    place-items: center;
    align-items: center;
    border-bottom: 1px solid var(--bl-border-color);

    & > input {
      width: 100%;
      padding-block: 0.75rem;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    & > svg,
    & > i {
      color: var(--bl-clr-gray-400);
    }
  }

  .cmd-group {
    padding: 0.5rem;
  }

  .cmd-group-title {
    font-weight: var(--bl-fw-bold);
    font-size: var(--bl-fs-sm);
    padding-inline: 0.75rem;
    color: var(--bl-clr-gray-500);
    margin-bottom: 0.25rem;
  }

  .cmd-item {
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bl-cmd-item-color);
    border-radius: var(--bl-border-radius);

    &:hover {
      background-color: var(--bl-clr-primary-600);
      color: var(--bl-clr-white);
      .cmd-item-left > i {
        color: inherit;
      }
      .cmd-item-right {
        color: inherit;
      }
    }
  }

  .cmd-item-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > i {
      color: var(--bl-clr-gray-400);
    }
  }

  .cmd-item-right {
    font-size: var(--bl-fs-sm);
    color: var(--bl-clr-gray-500);
  }

  .dark .cmd {
    --bl-cmd-item-bg-hover: var(--bl-clr-gray-900);
    --bl-cmd-item-color: var(--bl-clr-gray-300);
    --bl-cmd-search-icon-color: var(--bl-clr-gray-400);
    --bl-cmd-item-description-color: var(--bl-clr-gray-400);
  }
}
