@layer components {
  .alert {
    --bl-alert-bg: var(--bl-clr-surface);
    --bl-alert-border: var(--bl-border-color-strong);
    --bl-alert-color: var(--bl-clr-text);
    --bl-alert-accent-width: 4px;
    --bl-alert-padding: 0.75rem;

    padding: var(--bl-alert-padding);
    border-radius: var(--bl-border-radius-lg);
    border: 1px solid var(--bl-alert-border);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bl-alert-bg);
    color: var(--bl-alert-color);
    font-size: var(--bl-fs-base);
  }

  .alert-icon {
    font-size: var(--bl-fs-xl);
  }

  .alert-title {
    font-weight: var(--bl-fw-bold);
  }

  .alert-primary {
    --bl-alert-bg: var(--bl-clr-primary-100);
    --bl-alert-border: var(--bl-clr-primary-300);
    --bl-alert-color: var(--bl-clr-primary-900);
  }

  .alert-success {
    --bl-alert-bg: var(--bl-clr-success-100);
    --bl-alert-border: var(--bl-clr-success-300);
    --bl-alert-color: var(--bl-clr-success-900);
  }

  .alert-danger {
    --bl-alert-bg: var(--bl-clr-danger-100);
    --bl-alert-border: var(--bl-clr-danger-300);
    --bl-alert-color: var(--bl-clr-danger-900);
  }

  .alert-warning {
    --bl-alert-bg: var(--bl-clr-warning-100);
    --bl-alert-border: var(--bl-clr-warning-300);
    --bl-alert-color: var(--bl-clr-warning-900);
  }

  .dark {
    .alert-primary {
      --bl-alert-bg: var(--bl-clr-primary-900);
      --bl-alert-border: var(--bl-clr-primary-700);
      --bl-alert-color: var(--bl-clr-primary-100);
    }

    .alert-success {
      --bl-alert-bg: var(--bl-clr-success-900);
      --bl-alert-border: var(--bl-clr-success-700);
      --bl-alert-color: var(--bl-clr-success-100);
    }

    .alert-danger {
      --bl-alert-bg: var(--bl-clr-danger-900);
      --bl-alert-border: var(--bl-clr-danger-700);
      --bl-alert-color: var(--bl-clr-danger-100);
    }

    .alert-warning {
      --bl-alert-bg: var(--bl-clr-warning-900);
      --bl-alert-border: var(--bl-clr-warning-700);
      --bl-alert-color: var(--bl-clr-warning-100);
    }
  }
}
