:root {
  --bl-form-border-color: var(--bl-clr-gray-300);
  --bl-form-border-radius: var(--bl-border-radius-lg);
  --bl-form-primary-color: var(--bl-clr-primary-600);
}

/* Form control */
.form-control {
  appearance: none;
  border: 1px solid var(--bl-form-border-color);
  border-radius: var(--bl-form-border-radius);
  padding-inline: 0.75rem;
  height: 2.5rem;
  font-size: 0.875rem;
  outline: solid 2px transparent;
  display: block;
  width: 100%;
  background-color: transparent;
  transition-property: outline-color;
  transition-duration: var(--bl-transition-sm);
}

.form-control:focus-visible {
  outline-color: var(--bl-form-primary-color);
  outline-offset: -1px;
}

textarea.form-control {
  padding-block: 0.5rem;
  height: auto;
}

/* Input group */
.input-group {
  position: relative;
}

.input-group > .icon-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.75em;
  color: var(--bl-clr-gray-400);
}

input[type="text"].form-control:has(+ .icon-left),
input[type="password"].form-control:has(+ .icon-left),
input[type="email"].form-control:has(+ .icon-left),
input[type="search"].form-control:has(+ .icon-left),
input[type="tel"].form-control:has(+ .icon-left),
input[type="url"].form-control:has(+ .icon-left),
input[type="number"].form-control:has(+ .icon-left),
input[type="date"].form-control:has(+ .icon-left),
input[type="time"].form-control:has(+ .icon-left),
input[type="datetime-local"].form-control:has(+ .icon-left),
input[type="month"].form-control:has(+ .icon-left),
input[type="week"].form-control:has(+ .icon-left) {
  padding-inline-start: 2.25rem;
}

/* Checkbox */
input[type="checkbox"].checkbox,
input[type="radio"].checkbox {
  position: relative;
  appearance: none;
  background-color: transparent;
  outline: solid 2px transparent;
  outline-offset: 2px;
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid var(--bl-form-border-color);
  border-radius: var(--bl-border-radius);
  transition:
    background-color var(--bl-transition-sm),
    border-color var(--bl-transition-sm),
    outline-color var(--bl-transition-sm);
  cursor: pointer;
}

input[type="checkbox"].checkbox:not(:disabled):checked {
  border-color: var(--bl-form-primary-color);
  background-color: var(--bl-form-primary-color);
  background-image: url("./check.svg");
}

input[type="checkbox"].checkbox:focus-visible {
  outline-color: var(--bl-form-primary-color);
}

/* Radio */
input[type="radio"].checkbox {
  border-radius: var(--bl-border-radius-full);
}

input[type="radio"].checkbox:not(:disabled):checked {
  border-color: var(--bl-form-primary-color);
  background-color: var(--bl-form-primary-color);

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    background-color: var(--bl-clr-background);
    border-radius: var(--bl-border-radius-full);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

input[type="radio"].checkbox:focus-visible {
  outline: solid 2px var(--bl-form-primary-color);
  outline-offset: 2px;
}

/* Label */
.label {
  font-size: 0.875rem;
  font-weight: 600;
  user-select: none;
  display: inline-block;
}

.label:has(+ .form-control),
.label:has(+ bl-textarea) {
  margin-bottom: 0.5rem;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Checkbox card */
.checkbox-card {
  position: relative;
  user-select: none;
  cursor: pointer;
  transition-property: transform;
  transition-duration: var(--bl-transition-md);
  display: block;

  &:has(input[type="radio"].checkbox:active:not(:disabled)),
  &:has(input[type="checkbox"].checkbox:active:not(:disabled)) {
    transform: scale(0.96);
  }

  .card-image {
    --bl-card-image-max-height: 100px;
    transition: filter var(--bl-transition-md);
    filter: grayscale(1);
  }
}

.checkbox-card > input[type="checkbox"].checkbox,
.checkbox-card > input[type="radio"].checkbox {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background-color: var(--bl-clr-background);
}

.checkbox-card:has(input[type="checkbox"].checkbox:checked),
.checkbox-card:has(input[type="radio"].checkbox:checked) {
  --bl-card-border: 1px solid var(--bl-form-primary-color);

  .card-image {
    filter: grayscale(0);
  }
}

.checkbox-card:has(input[type="checkbox"].checkbox:focus-visible),
.checkbox-card:has(input[type="radio"].checkbox:focus-visible) {
  outline: 2px solid var(--bl-form-primary-color);
  outline-offset: 2px;
}

.checkbox-card:has(input[type="checkbox"].checkbox:disabled),
.checkbox-card:has(input[type="radio"].checkbox:disabled) {
  opacity: var(--bl-disabled-opacity);
  cursor: not-allowed;
}

.checkbox-card > input[type="checkbox"].checkbox:focus-visible,
.checkbox-card > input[type="radio"].checkbox:focus-visible {
  outline: none;
}

.dark,
[data-theme="dark"] {
  --bl-form-border-color: var(--bl-clr-gray-700);
  --bl-form-primary-color: var(--bl-clr-primary-400);
}
