@layer components {
  .collapsible {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition-property: height, visibility;
    transition-duration: var(--bl-transition-md);
    transition-timing-function: ease-out;
  }

  .collapsible.show {
    height: auto;
    visibility: visible;
  }
}
