.bl-close-button {
  height: 25px;
  width: 25px;
  transition: background-color 100ms ease-in-out;
  border-radius: var(--bl-border-radius);
  padding: 0.3125em;
  display: grid;
  place-items: center;
}

.bl-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bl-close-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
