.bl-close-button {
  --bl-close-size: 25px;
  --bl-close-padding: 0.25rem;
  --bl-close-bg-hover: rgba(0, 0, 0, 0.075);
  --bl-close-bg-active: rgba(0, 0, 0, 0.15);

  transition: all 100ms ease-in-out;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--bl-clr-primary);
    outline: none;
  }
}

.dark,
[data-theme="dark"] {
  .bl-close-button {
    --bl-close-bg-hover: rgba(255, 255, 255, 0.075);
    --bl-close-bg-active: rgba(255, 255, 255, 0.15);
  }
}
