.bl-close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;

  width: var(--bl-close-size, 25px);
  height: var(--bl-close-size, 25px);
  border-radius: var(--bl-border-radius);
  padding: var(--bl-close-padding);
  color: var(--bl-close-clr);

  &:hover {
    background-color: var(--bl-close-bg-hover);
  }

  &:active {
    background-color: var(--bl-close-bg-active);
  }
}

.bl-close-button svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  fill: currentColor;
}
