.bl-close-button {
  height: 25px;
  width: 25px;
  background: none;
  appearance: auto;
  border: none;
  padding: 0.375em;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
}

.bl-close-button svg {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}
