@layer components {
  .navbar {
    --bl-navbar-bg: var(--bl-clr-surface);
    --bl-navbar-link-color: var(--bl-clr-text-light);
    --bl-navbar-link-bg-hover: var(--bl-clr-hover-bg-subtle);

    border-bottom: 1px solid var(--bl-border-color);
    background-color: var(--bl-navbar-bg);
    position: relative;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: var(--bl-fw-bold);
  }

  .nav-link {
    display: block;
    position: relative;
    padding: 0.75rem;

    i {
      font-size: var(--bl-fs-xs);
    }
  }

  @media (min-width: 768px) {
    .navbar {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 0 1rem 0 1rem;
    }

    .navbar-toggle {
      display: none;
    }

    .navbar-nav {
      flex: 1;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-nav.collapsible {
      height: auto;
      visibility: visible;
      overflow: visible;
    }

    .nav-items {
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }

    .nav-link {
      display: flex;
      align-items: center;
      margin: 0.25rem;
      border-radius: var(--bl-border-radius);
      color: var(--bl-navbar-link-color);
      transition: all var(--bl-transition-sm);
    }

    .nav-link:hover {
      background-color: var(--bl-navbar-link-bg-hover);
    }

    .nav-link.active::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(-0.25rem - 1px);
      border-bottom: 2px solid var(--bl-clr-primary-600);
    }
  }
}
