@import "tailwindcss";

:root {
  --bl-font-sans: "Inter Variable", sans-serif;

  --bl-clr-primary-50: var(--bl-clr-blue-50);
  --bl-clr-primary-100: var(--bl-clr-blue-100);
  --bl-clr-primary-200: var(--bl-clr-blue-200);
  --bl-clr-primary-300: var(--bl-clr-blue-300);
  --bl-clr-primary-400: var(--bl-clr-blue-400);
  --bl-clr-primary-500: var(--bl-clr-blue-500);
  --bl-clr-primary-600: var(--bl-clr-blue-600);
  --bl-clr-primary-700: var(--bl-clr-blue-700);
  --bl-clr-primary-800: var(--bl-clr-blue-800);
  --bl-clr-primary-900: var(--bl-clr-blue-900);
  --bl-clr-primary-950: var(--bl-clr-blue-950);
}

@theme {
  --font-madimi: "Madimi One", sans-serif;

  --color-primary-50: var(--bl-clr-primary-50);
  --color-primary-100: var(--bl-clr-primary-100);
  --color-primary-200: var(--bl-clr-primary-200);
  --color-primary-300: var(--bl-clr-primary-300);
  --color-primary-400: var(--bl-clr-primary-400);
  --color-primary-500: var(--bl-clr-primary-500);
  --color-primary-600: var(--bl-clr-primary-600);
  --color-primary-700: var(--bl-clr-primary-700);
  --color-primary-800: var(--bl-clr-primary-800);
  --color-primary-900: var(--bl-clr-primary-900);
  --color-primary-950: var(--bl-clr-primary-950);
}
