@layer components {
  .timeline {
    --bl-timeline-connector-color: var(--bl-border-color-strong);
    --bl-timeline-indicator-bg: var(--bl-clr-inverted-bg);
    --bl-timeline-indicator-color: var(--bl-clr-inverted-text);
    --bl-timeline-size: 2rem;
    --bl-timeline-border-width: 2px;
    --bl-timeline-line-thickness: 2px;
    --bl-timeline-line-offset: 0.75rem;
    --bl-timeline-description-color: var(--bl-clr-text-light);
    --bl-timeline-title-fs: var(--bl-fs-base);
    --bl-timeline-padding-left: 2.5rem;

    display: flex;
    flex-direction: column;
    position: relative;
  }

  /* Timeline item */
  .timeline-item {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  /* Timeline indicator (dot) */
  .timeline-indicator {
    position: relative;
    width: var(--bl-timeline-size);
    height: var(--bl-timeline-size);
    border-radius: var(--bl-border-radius-full);
    background-color: var(--bl-timeline-indicator-bg);
    color: var(--bl-timeline-indicator-color);
    /*border: var(--bl-timeline-border-width) solid var(--bl-timeline-color);*/
    flex-shrink: 0;
    /*transition: all var(--bl-transition-md);*/
  }

  /* Connector line */
  .timeline-item:not(:last-child)::before {
    content: "";
    position: absolute;
    border-inline-start-width: var(--bl-timeline-line-thickness);
    margin-inline-start: calc(-1 * var(--bl-timeline-line-thickness) / 2);
    inset-inline-start: calc(var(--bl-timeline-size) / 2);
    inset-block: 0;
    border-color: var(--bl-timeline-connector-color);
  }

  .timeline-content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding-block-end: 1rem;
  }

  .timeline-title {
    line-height: var(--bl-timeline-size);
    font-weight: var(--bl-fw-bold);
  }

  .timeline-description {
    color: var(--bl-timeline-description-color);
    font-size: var(--bl-fs-sm);
  }

  .timeline-description + .timeline-body {
    margin-top: 0.25rem;
  }

  /* Icon support */
  .timeline-indicator {
    display: grid;
    place-items: center;
    font-size: calc(var(--bl-timeline-size) * 0.5);
  }
}
