@layer base {
  body {
    font-family: var(--bl-font-body), sans-serif;
    color: var(--bl-clr-text);
    background-color: var(--bl-clr-background);
    interpolate-size: allow-keywords;
    color-scheme: light;
  }

  hr {
    border-color: var(--bl-border-color);
  }

  .dark,
  [data-theme="dark"] {
    body {
      color-scheme: dark;
    }
  }
}
