body {
  font-family: var(--bl-font), sans-serif;
  color: var(--bl-clr-text);
  background-color: var(--bl-clr-background);
}

.dark,
[data-theme="dark"] {
  --bl-clr-text: var(--bl-clr-gray-300);
  --bl-clr-text-inverted: var(--bl-clr-gray-950);
  --bl-clr-background: var(--bl-clr-gray-900);
  --bl-clr-surface: oklch(from var(--bl-clr-background) calc(l + 0.03) c h);
  --bl-border-color: var(--bl-clr-gray-800);

  body {
    color-scheme: dark;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
