@layer base {
  body {
    font-family: var(--bl-font-body), sans-serif;
    color: var(--bl-clr-text);
    background-color: var(--bl-clr-background);
    interpolate-size: allow-keywords;
  }

  .dark,
  [data-theme="dark"] {
    --bl-clr-text: var(--bl-clr-gray-200);
    --bl-clr-text-inverted: var(--bl-clr-gray-950);
    --bl-clr-background: var(--bl-clr-gray-900);
    --bl-clr-surface: var(--bl-clr-gray-800);
    --bl-border-color: var(--bl-clr-gray-700);

    body {
      color-scheme: dark;
    }
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
