.btn {
  --bl-btn-bg: var(--bl-clr-gray-200);
  --bl-btn-color: var(--bl-clr-gray-800);
  --bl-btn-hover-bg: var(--bl-clr-gray-200);
  --bl-btn-border-radius: var(--bl-border-radius);
  --bl-btn-border: solid 1px transparent;
  --bl-btn-size: 2.5rem;
  --bl-btn-outline-color: var(--bl-clr-primary-600);

  appearance: none;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  background-color: var(--bl-btn-bg);
  color: var(--bl-btn-color);
  font-weight: 600;
  padding-inline: 1rem;
  height: var(--bl-btn-size);
  font-size: 0.875rem;
  border-radius: var(--bl-btn-border-radius);
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: var(--bl-transition);
  border: var(--bl-btn-border);
  position: relative;
  user-select: none;
  line-height: 1.25rem;
  gap: 0.5rem;

  &:hover {
    background-color: var(--bl-btn-hover-bg);
  }
}

.btn-icon {
  min-width: var(--bl-btn-size);
  padding: 0;
}

.btn-sm {
  --bl-btn-size: 2rem;
  font-size: 0.75rem;
}

.btn-xs {
  --bl-btn-size: 1.5rem;
  font-size: 0.625rem;
}

/* Colors */

.btn-primary {
  --bl-btn-bg: var(--bl-clr-primary-600);
  --bl-btn-hover-bg: var(--bl-clr-primary-500);
  --bl-btn-color: #fff;
}

.btn-danger {
  --bl-btn-bg: var(--bl-clr-red-600);
  --bl-btn-hover-bg: var(--bl-clr-red-500);
  --bl-btn-color: #fff;
}

/* Variants */

.btn-ghost {
  --bl-btn-bg: transparent;
  --bl-btn-color: var(--bl-clr-gray-800);

  &.btn-primary {
    --bl-btn-hover-bg: var(--bl-clr-primary-600);
  }

  &.btn-danger {
    --bl-btn-hover-bg: var(--bl-clr-red-600);
  }

  &.btn-primary:hover,
  &.btn-danger:hover {
    --bl-btn-color: #fff;
  }
}

.btn-outline {
  --bl-btn-bg: transparent;
  --bl-btn-hover-bg: var(--bl-clr-gray-200);
  --bl-btn-color: var(--bl-clr-gray-800);
  --bl-btn-border: 1px solid var(--bl-clr-gray-300);

  &.btn-primary {
    --bl-btn-color: var(--bl-clr-primary-600);
    --bl-btn-border: 1px solid var(--bl-clr-primary-600);
    --bl-btn-hover-bg: var(--bl-clr-primary-100);
  }

  &.btn-danger {
    --bl-btn-color: var(--bl-clr-red-600);
    --bl-btn-border: 1px solid var(--bl-clr-red-600);
    --bl-btn-hover-bg: var(--bl-clr-red-100);
  }
}

.btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    background-color: var(--bl-btn-bg);
  }
}

.btn:focus-visible {
  outline: solid 2px var(--bl-btn-outline-color);
  outline-offset: 2px;
}

.btn.btn-loading,
.btn.htmx-request {
  opacity: 0.75;
  cursor: not-allowed;
  padding-left: 2.2rem;

  &:hover {
    background-color: var(--bl-btn-bg);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid currentColor;
    border-radius: 50%;
    margin-left: 0.7rem;
  }

  &::before {
    opacity: 0.4;
  }

  &::after {
    border-right-color: transparent;
    animation: spin 750ms linear infinite;
  }
}

/* Dark theme */
.dark,
[data-theme="dark"] {
  .btn {
    --bl-btn-bg: var(--bl-clr-gray-800);
    --bl-btn-color: #fff;
    --bl-btn-hover-bg: var(--bl-clr-gray-700);
    --bl-btn-outline-color: var(--bl-clr-primary-400);
  }

  .btn-primary {
    --bl-btn-bg: var(--bl-clr-primary-500);
    --bl-btn-hover-bg: var(--bl-clr-primary-600);
  }

  .btn-danger {
    --bl-btn-bg: var(--bl-clr-red-700);
    --bl-btn-hover-bg: var(--bl-clr-red-800);
  }

  .btn-ghost {
    --bl-btn-bg: transparent;
    --bl-btn-color: var(--bl-clr-gray-200);

    &.btn-primary {
      --bl-btn-hover-bg: var(--bl-clr-primary-400);
    }

    &.btn-danger {
      --bl-btn-hover-bg: var(--bl-clr-red-500);
    }

    &.btn-primary:hover,
    &.btn-danger:hover {
      --bl-btn-color: var(--bl-clr-gray-900);
    }
  }

  .btn-outline {
    --bl-btn-bg: transparent;
    --bl-btn-hover-bg: var(--bl-clr-gray-800);
    --bl-btn-color: var(--bl-clr-gray-200);
    --bl-btn-border: 1px solid var(--bl-clr-gray-700);

    &.btn-primary {
      --bl-btn-color: var(--bl-clr-primary-400);
      --bl-btn-border: 1px solid var(--bl-clr-primary-400);
      --bl-btn-hover-bg: var(--bl-clr-primary-900);
    }

    &.btn-danger {
      --bl-btn-color: var(--bl-clr-red-400);
      --bl-btn-border: 1px solid var(--bl-clr-red-400);
      --bl-btn-hover-bg: var(--bl-clr-red-900);
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn.btn-loading.btn-icon,
.btn.htmx-request.btn.icon {
  padding-left: 0;

  &::before,
  &::after {
    margin-left: 0.7rem;
  }

  & > * {
    display: none;
  }
}
