* {
  box-sizing: border-box;
}

html,
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper {
  max-width: min(1000px, 100% - 2rem);
  margin-inline: auto;
}

.selects > * + * {
  margin-top: 1rem;
}

.member {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.member-avatar {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  background-color: lightcoral;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.member-name {
  font-weight: 700;
}

.member-job {
  color: #555;
}

p {
  padding: 0;
  margin: 1rem 0 0;
}
