@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: min(1000px, 100% - 2rem);
  margin-inline: auto;
}

.wrapper > * + * {
  margin-top: 2rem;
}

.selects > * + * {
  margin-top: 1rem;
}

.member {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.member-avatar {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.member-name {
  font-weight: 700;
}

.member-job {
  color: #555;
}

.dark {
  .member-job {
    color: #bbb;
  }

  .member-avatar {
    color: #222;
  }
}

p {
  padding: 0;
  margin: 1rem 0 0;
}
