* {
  box-sizing: border-box;
}

html,
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper {
  max-width: min(1000px, 100% - 2rem);
  margin-inline: auto;
}
