---

---

<footer class="bg-slate-50 border-t border-slate-200 py-8">
  <div class="container mx-auto px-6 text-center text-gray-500">
    <p>
      &copy; {new Date().getFullYear()} Bloum. Made with ❤️ by Gil Balsiger. MIT License.
    </p>
  </div>
</footer>
