---

---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>Bloum - Modern UI Component Library</title>
  <meta
    name="description"
    content="A powerful library of modern web components for your design system."
  />
</head>
